@tailwind base;
@tailwind components;
@tailwind utilities;

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#0b7998, #0b7998);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#0862ab, #0862ab);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.gridPattern {
    height: 100%;
    width: 100%;
    margin: 0;
}
.gridPattern {
    background-image:
      repeating-linear-gradient(rgb(122, 122, 122) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgb(122, 122, 122) 0 1px, transparent 1px 100%);
    background-size: 71px 71px;
}